.container{
  text-align: center;
 
}
.title
{
    margin-top: 48%;
  color: #0E1F51;
  font-weight:700;
  font-size:40px;
   line-height:120%;
   font-style: bold;
}
.features-area{
    display: flex;
    margin-top: 30px;
    gap: 10px;
    justify-content: space-between;
}
.feature-card{
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 241, 241);
  gap: 30px;
  padding: 15px;
  height: 300px;
  margin-top: 15px;
  text-align: left;
  width: 280px;
}
.icon{
    width: 59px;
    height: 59px;
}
.feature-card h3{
  font-weight: 800;
  font-size: 19px;
  color: #0E1F51;
}
.feature-card p{
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}