nav{
    width: 100%;
    height: 100px;
    background: #fff;
    color: #212121;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}
.nlogo{
    width: 180px;
}
nav ul li{
    display: inline-block;
    list-style:none;
    margin: 5px 20px ;
    font-size: 16px;
}
.btn:hover {
  background-color: #ff4b5c;
  color: #fff;
}
.btn1:hover{
    background-color: #ff4b5c;
    border: none;
    color: white;
    border-radius: 30px;
     transition: all 0.3s ease;
}